# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://klhcrhlpumyhuwevseif.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtsaGNyaGxwdW15aHV3ZXZzZWlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNzkyMjgsImV4cCI6MjA4ODg1NTIyOH0.-0RZS18bkecEM8FEOhmwswamGYkEdlyUMovGSAY_POk
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Melhor Envio
MELHOR_ENVIO_TOKEN=seu_token
MELHOR_ENVIO_SANDBOX=false
STORE_ZIP_CODE=80000000

# App
NEXT_PUBLIC_SITE_URL=https://vinhos9.com.br
